Dokumente/dokumente-schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.tei-c.org/ns/1.0" xmlns:telota="http://www.telota.de" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="TEI">
      <attribute name="telota:doctype">
        <data type="NCName"/>
      </attribute>
      <attribute>
        <name ns="http://www.w3.org/XML/1998/namespace">id</name>
        <data type="NCName"/>
      </attribute>
      <element name="teiHeader">
        <element name="fileDesc">
          <element name="titleStmt">
            <oneOrMore>
              <element name="title">
                <text/>
              </element>
            </oneOrMore>
            <element name="editor">
              <ref name="persName"/>
            </element>
            <oneOrMore>
              <element name="respStmt">
                <element name="resp">
                  <text/>
                </element>
                <choice>
                  <ref name="orgName"/>
                  <ref name="persName"/>
                </choice>
              </element>
            </oneOrMore>
          </element>
          <optional>
            <element name="editionStmt">
              <element name="edition">
                <text/>
              </element>
            </element>
          </optional>
          <element name="publicationStmt">
            <element name="publisher">
              <ref name="orgName"/>
              <ref name="address"/>
            </element>
            <element name="pubPlace">
              <data type="NCName"/>
            </element>
            <ref name="date"/>
            <element name="availability">
              <element name="licence">
                <attribute name="target">
                  <data type="anyURI"/>
                </attribute>
                <ref name="p"/>
              </element>
            </element>
            <ref name="idno"/>
          </element>
          <element name="notesStmt">
            <oneOrMore>
              <ref name="note"/>
            </oneOrMore>
          </element>
          <element name="sourceDesc">
            <zeroOrMore>
              <element name="msDesc">
                <attribute name="rend">
                  <data type="NCName"/>
                </attribute>
                <optional>
                  <attribute name="subtype">
                    <data type="NCName"/>
                  </attribute>
                </optional>
                <element name="msIdentifier">
                  <element name="institution">
                    <text/>
                  </element>
                  <optional>
                    <element name="collection">
                      <empty/>
                    </element>
                  </optional>
                  <optional>
                    <ref name="idno"/>
                  </optional>
                </element>
                <choice>
                  <element name="physDesc">
                    <oneOrMore>
                      <ref name="p"/>
                    </oneOrMore>
                  </element>
                  <zeroOrMore>
                    <ref name="p"/>
                  </zeroOrMore>
                </choice>
              </element>
            </zeroOrMore>
            <optional>
              <element name="listWit">
                <oneOrMore>
                  <element name="witness">
                    <optional>
                      <attribute name="select"/>
                    </optional>
                    <oneOrMore>
                      <choice>
                        <text/>
                        <ref name="bibl"/>
                      </choice>
                    </oneOrMore>
                  </element>
                </oneOrMore>
              </element>
            </optional>
          </element>
        </element>
        <oneOrMore>
          <element name="profileDesc">
            <optional>
              <element name="correspDesc">
                <zeroOrMore>
                  <element name="correspAction">
                    <attribute name="type">
                      <data type="NCName"/>
                    </attribute>
                    <choice>
                      <ref name="orgName"/>
                      <zeroOrMore>
                        <ref name="persName"/>
                      </zeroOrMore>
                    </choice>
                    <zeroOrMore>
                      <ref name="placeName"/>
                    </zeroOrMore>
                    <optional>
                      <choice>
                        <ref name="date"/>
                        <ref name="note"/>
                      </choice>
                    </optional>
                  </element>
                </zeroOrMore>
                <optional>
                  <ref name="note"/>
                </optional>
              </element>
            </optional>
            <zeroOrMore>
              <choice>
                <element name="abstract">
                  <oneOrMore>
                    <ref name="p"/>
                  </oneOrMore>
                </element>
                <element name="creation">
                  <zeroOrMore>
                    <ref name="persName"/>
                  </zeroOrMore>
                  <zeroOrMore>
                    <ref name="placeName"/>
                  </zeroOrMore>
                  <optional>
                    <ref name="date"/>
                  </optional>
                </element>
              </choice>
            </zeroOrMore>
          </element>
        </oneOrMore>
      </element>
      <optional>
        <element name="facsimile">
          <oneOrMore>
            <element name="graphic">
              <attribute name="url">
                <data type="anyURI"/>
              </attribute>
            </element>
          </oneOrMore>
        </element>
      </optional>
      <element name="text">
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
        <element name="body">
          <optional>
            <ref name="opener"/>
          </optional>
          <optional>
            <choice>
              <ref name="dateline"/>
              <ref name="gap"/>
            </choice>
          </optional>
          <zeroOrMore>
            <ref name="p"/>
          </zeroOrMore>
          <optional>
            <choice>
              <ref name="signed"/>
              <ref name="table"/>
            </choice>
          </optional>
          <zeroOrMore>
            <element name="div">
              <optional>
                <attribute name="n"/>
              </optional>
              <optional>
                <attribute name="type">
                  <data type="NCName"/>
                </attribute>
              </optional>
              <zeroOrMore>
                <ref name="opener"/>
              </zeroOrMore>
              <zeroOrMore>
                <choice>
                  <ref name="gap"/>
                  <ref name="list"/>
                  <ref name="milestone"/>
                  <ref name="note"/>
                  <ref name="p"/>
                  <ref name="table"/>
                </choice>
              </zeroOrMore>
              <choice>
                <ref name="head"/>
                <ref name="signed"/>
                <zeroOrMore>
                  <ref name="closer"/>
                </zeroOrMore>
              </choice>
            </element>
          </zeroOrMore>
          <optional>
            <ref name="closer"/>
          </optional>
          <optional>
            <element name="postscript">
              <optional>
                <ref name="lb"/>
              </optional>
              <oneOrMore>
                <ref name="p"/>
              </oneOrMore>
            </element>
          </optional>
        </element>
      </element>
    </element>
  </start>
  <define name="persName">
    <element name="persName">
      <optional>
        <attribute name="key">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="ref">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="lb"/>
          <ref name="note"/>
          <ref name="orig"/>
          <ref name="persName"/>
          <ref name="ref"/>
          <ref name="unclear"/>
          <element name="forename">
            <data type="NCName"/>
          </element>
          <element name="surname">
            <data type="NCName"/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="orgName">
    <element name="orgName">
      <optional>
        <attribute name="key">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="orgName"/>
          <ref name="placeName"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="address">
    <element name="address">
      <element name="addrLine">
        <oneOrMore>
          <choice>
            <text/>
            <ref name="hi"/>
            <ref name="placeName"/>
          </choice>
        </oneOrMore>
      </element>
      <optional>
        <element name="country">
          <data type="NCName"/>
        </element>
      </optional>
    </element>
  </define>
  <define name="date">
    <element name="date">
      <optional>
        <attribute name="cert">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="from">
          <data type="date"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="notAfter">
          <data type="date"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="notBefore">
          <data type="date"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="to">
          <data type="date"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="when">
          <data type="date"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="p">
    <element name="p">
      <optional>
        <attribute name="rendition"/>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="bibl"/>
          <ref name="gap"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="list"/>
          <ref name="milestone"/>
          <ref name="note"/>
          <ref name="orgName"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="quote"/>
          <ref name="ref"/>
          <ref name="rs"/>
          <ref name="seg"/>
          <ref name="table"/>
          <ref name="unclear"/>
          <element name="add">
            <attribute name="place">
              <data type="NCName"/>
            </attribute>
            <oneOrMore>
              <choice>
                <text/>
                <ref name="placeName"/>
              </choice>
            </oneOrMore>
          </element>
          <element name="anchor">
            <attribute name="type">
              <data type="NCName"/>
            </attribute>
            <attribute>
              <name ns="http://www.w3.org/XML/1998/namespace">id</name>
              <data type="NCName"/>
            </attribute>
          </element>
          <element name="supplied">
            <attribute name="cert">
              <data type="NCName"/>
            </attribute>
            <text/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="idno">
    <element name="idno">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="idno"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="note">
    <element name="note">
      <optional>
        <attribute name="hand"/>
      </optional>
      <optional>
        <attribute name="place">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="bibl"/>
          <ref name="gap"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="note"/>
          <ref name="orgName"/>
          <ref name="p"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="quote"/>
          <ref name="ref"/>
          <ref name="rs"/>
          <ref name="seg"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="bibl">
    <element name="bibl">
      <optional>
        <attribute name="sameAs">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="placeName">
    <element name="placeName">
      <attribute name="key">
        <data type="NCName"/>
      </attribute>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="note"/>
          <ref name="placeName"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="opener">
    <element name="opener">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="dateline"/>
          <ref name="gap"/>
          <ref name="lb"/>
          <ref name="persName"/>
          <ref name="salute"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="dateline">
    <element name="dateline">
      <optional>
        <attribute name="rend"/>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="gap"/>
          <ref name="lb"/>
          <ref name="orgName"/>
          <ref name="placeName"/>
          <ref name="seg"/>
          <ref name="unclear"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="gap">
    <element name="gap">
      <optional>
        <attribute name="quantity">
          <data type="integer"/>
        </attribute>
      </optional>
      <attribute name="reason">
        <data type="NCName"/>
      </attribute>
      <optional>
        <attribute name="unit">
          <data type="NCName"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="signed">
    <element name="signed">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="gap"/>
          <ref name="lb"/>
          <ref name="orgName"/>
          <ref name="persName"/>
          <ref name="seg"/>
          <ref name="table"/>
          <ref name="unclear"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="table">
    <element name="table">
      <attribute name="cols">
        <data type="integer"/>
      </attribute>
      <attribute name="rows">
        <data type="integer"/>
      </attribute>
      <optional>
        <ref name="head"/>
      </optional>
      <oneOrMore>
        <element name="row">
          <optional>
            <attribute name="role">
              <data type="NCName"/>
            </attribute>
          </optional>
          <oneOrMore>
            <element name="cell">
              <optional>
                <attribute name="cols">
                  <data type="integer"/>
                </attribute>
              </optional>
              <oneOrMore>
                <choice>
                  <text/>
                  <ref name="gap"/>
                  <ref name="hi"/>
                  <ref name="lb"/>
                  <ref name="note"/>
                  <ref name="p"/>
                  <ref name="persName"/>
                  <ref name="placeName"/>
                  <ref name="seg"/>
                  <ref name="unclear"/>
                </choice>
              </oneOrMore>
            </element>
          </oneOrMore>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="milestone">
    <element name="milestone">
      <attribute name="rendition"/>
      <attribute name="unit">
        <data type="NCName"/>
      </attribute>
    </element>
  </define>
  <define name="list">
    <element name="list">
      <optional>
        <attribute name="rendition"/>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="lb"/>
          <element name="item">
            <oneOrMore>
              <choice>
                <text/>
                <ref name="gap"/>
                <ref name="hi"/>
                <ref name="lb"/>
                <ref name="list"/>
                <ref name="note"/>
                <ref name="orgName"/>
                <ref name="p"/>
                <ref name="persName"/>
                <ref name="placeName"/>
                <ref name="ref"/>
                <ref name="seg"/>
                <ref name="unclear"/>
              </choice>
            </oneOrMore>
          </element>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="head">
    <element name="head">
      <text/>
    </element>
  </define>
  <define name="closer">
    <element name="closer">
      <optional>
        <attribute name="rend">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="address"/>
          <ref name="dateline"/>
          <ref name="lb"/>
          <ref name="salute"/>
          <ref name="signed"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="lb">
    <element name="lb">
      <optional>
        <attribute name="break">
          <data type="NCName"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="orig">
    <element name="orig">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="gap"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="list"/>
          <ref name="note"/>
          <ref name="orgName"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="quote"/>
          <ref name="ref"/>
          <ref name="rs"/>
          <ref name="seg"/>
          <ref name="unclear"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="unclear">
    <element name="unclear">
      <attribute name="cert">
        <data type="NCName"/>
      </attribute>
      <attribute name="reason">
        <data type="NCName"/>
      </attribute>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="persName"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="ref">
    <element name="ref">
      <attribute name="target">
        <data type="anyURI"/>
      </attribute>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="gap"/>
          <ref name="note"/>
          <ref name="orgName"/>
          <ref name="orig"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="quote"/>
          <ref name="ref"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="hi">
    <element name="hi">
      <optional>
        <attribute name="rend">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="rendition"/>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="persName"/>
          <ref name="placeName"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="seg">
    <element name="seg">
      <attribute name="type">
        <data type="NCName"/>
      </attribute>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="note"/>
          <ref name="orgName"/>
          <ref name="orig"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="ref"/>
          <ref name="seg"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="quote">
    <element name="quote">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="gap"/>
          <ref name="hi"/>
          <ref name="orgName"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="ref"/>
          <ref name="rs"/>
          <ref name="seg"/>
          <ref name="unclear"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="rs">
    <element name="rs">
      <attribute name="key">
        <data type="NCName"/>
      </attribute>
      <attribute name="type">
        <data type="NCName"/>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="salute">
    <element name="salute">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="gap"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="note"/>
          <ref name="orgName"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="seg"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
</grammar>
